/* LandingPage.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    margin: 0;
    background-color: #025ABB;
    font-family: Arial, sans-serif;
}


.row {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color1 {
    background-color: #025ABB;
}

.color2 {
    background-color: #002F56;
}
