@import "./Boilerplate.css";

.create-listing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #025ABB;
}

.create-listing-white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw; /* Fixed width for control */
    height: 90%; /* Fixed width for control */
    background: #FFFFFF;
    border-radius: 55px;
    padding: 20px;
    margin: auto; /* Centers the box if the viewport is wider than max-width */
    margin-top: 4vh;
}

/* Main Box Styling */
.create-listing-label {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #000000;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

/* Styling for Inputs and Button */

.input-field, .select-field {
    width: 35vw; /* Full width for larger screens */
    padding: 2vh 3vh;
    margin-bottom: 20px; /* Space between elements */
    background: #D9D9D9; /* Light grey background */
    border-radius: 100px;
    border: none;
    font-size: 1em;
    box-sizing: border-box; /* Includes padding and borders in the element's total width */
}

.select-field {
    display: block;
}

.create-listing-button, .look-up-button {
    background: #0C8CE9;
    padding: 2vh 3vh;
    border-radius: 4vh;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.look-up-button {
    padding: 1vh 3vh;
}

.my-book-button {
    background: #0C8CE9;
    border-radius: 15px;
    padding: 5px 10px;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.look-up-container {
    text-align: center;
}

.create-listing-button:hover, .look-up-button:hover, .my-book-button:hover {
    background: #007CBA; /* Darker shade for hover */
}

.book-result-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    margin: 0 auto; /* Optional: for centering if needed */
    width: 100%; /* Optional: adjust as needed for your layout */
}

/* Labels, Headers, and Links */
.label-text {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 22px;
    margin: 5px 5px; /* Adjust as needed */
    text-align: left;
}

p {
    font-family: Arial, sans-serif;
}

