/* LandingPage.css */

@import "./Boilerplate.css";


.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5%;
}

.slogan, .text-section {
    width: 45%;
    font-size: 2rem;
    color: #fff;
}

.text-section h2 {
    font-size: 2.6rem;
}

.text-section h3 {
    font-size: 1.5rem;
}

.image-section img {
    max-width: 100%;
    height: auto;
    padding-right: 100px;
}

.login-button, .signup-button {
    background-color: #0C8CE9;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1em;
    min-width: fit-content;
    min-height: fit-content;
    margin-right: 1em;
}

.login-button:hover, .signup-button:hover {
    background-color: #025ABB;
    cursor:pointer;
}

.header-buttons {
    margin-left: auto;
    display: flex;
    gap: 3em;
}

.testimonial-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 2em;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 30%;
    margin: 0 1.5%;
}

.testimonial p {
    font-size: 1.2rem;
    margin: 0.5em 0;
    text-align: center;
}

.testimonial h4 {
    font-size: 1.4rem;
    margin-top: 1em;
    color: #fff;
}

.testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 0;
}

.get-started-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002F56;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 2em;
}

.get-started-text {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 20px;
}

.arrow-icon {
    color: yellow;
    font-size: 2rem;
    margin-right: 20px;
}
