/* General Background */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  background: #025ABB;
}

.white-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 580px; /* Fixed width for control */
  min-height: 65vh; /* Minimum height to maintain a responsive aspect */
  max-height: 85vh; /* Maximum height to prevent overflow of the viewport */
  background: #FFFFFF;
  border-radius: 55px;
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if content exceeds max height */
}


.login-label {
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: #000000;
  margin-bottom: 20px;
}

/* Input Fields and Button Shared Styles */
.email-box, .password-box, .login-page-button {
  width: 504px; /* Full width for larger screens */
  padding: 20px 40px;
  margin-bottom: 20px; /* Space between elements */
}

/* Specific Styling for Input Fields */
.email-box, .password-box {
  background: #D9D9D9;
  border-radius: 100px;
  border: none;
  font-size: 20px;
}

/* Styling for the Login Button */
.login-page-button {
  background: #0C8CE9;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* Styling for Labels and Additional Texts */
.email-label, .password-label {
  font-family: Arial, sans-serif;
  color: #000000;
  margin-bottom: 20px;
}

.email-label, .password-label{
  font-size: 25px;
  margin: 20px 40px; /* Adjust as needed */
  margin-bottom: 20px; /* Space between elements */
  
}

.sign-up-text, .forgot-password {
  font-family: Arial, sans-serif;
  font-weight: 50;
  font-size: 25px;
  color: #000000;
  cursor: pointer;
  text-decoration: none; /* Removes underline from links */
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px; /* Space between 'Forgot password?' and 'Sign Up' */
  margin-top: 10px; /* Adjust as needed for space above the first link */
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .email-box, .password-box, .login-button, .sign-up-text, .forgot-password, .footer-links {
    width: 90%; /* Adjusts input and button width for smaller screens */
  }
}
