/* Payment.css */

@import "./Boilerplate.css";

.profile-container {
    display: flex;
}

.sidebar {
    /* flex: 1 1 1vw; /* grow, shrink, and base width */
    background-color: #0C8CE9;
    color: white;
    padding: 20px;
    width: 15vw;
    min-height: 100vh;
}

.sidebar a, .sidebar-text {
    font-family: Arial, sans-serif;
    display: block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #34495E;
}

.profile-for {
    text-align: center;
    color: white;
}


.profile-content {
    flex: 3;
    padding: 20px;
}
